script(src='/js/vis-timeline.min.js')
link(rel='stylesheet', href='/css/vis-timeline.css')
style(type='text/css').
  #visualization {
  width: 100%;
  height: 100%;
  /*border: 1px solid lightgray;*/
  }
  .vis-item.ek {
    background-color: #00bc8c;
    border-color: #444;
  }
  .vis-item.gf {
    background-color: #3498DB;
    border-color: #444;
  }
  .vis-item.zf {
    background-color: #adb5bd;
    border-color: #444;
  }
  .vis-item.vf {
    background-color: #E74C3C;
    border-color: #444;
  }
  .vis-item.ek-agt {
    background-color: #00bc8c;
    border-color: #F39C12;
    border-width: 2px;
  }
  .vis-item.gf-agt {
    background-color: #3498DB;
    border-color: #F39C12;
    border-width: 2px;
  }
  .vis-item.zf-agt {
    background-color: #adb5bd;
    border-color: #F39C12;
    border-width: 2px;
  }
  .vis-item.vf-agt {
    background-color: #E74C3C;
    border-color: #F39C12;
    border-width: 2px;
  }
  .vis-inner, .vis-time-axis .vis-text {
    color: #fff;
  }
  .vis-item {
    color: #fff;
    font-size: 0.875em;
    font-weight: 400;
  }
  .vis-timeline {
    /*border: 1px solid #444;*/
    background: #303030;   
  }
  .vis-time-axis .vis-grid.vis-minor {
    border-color: #444;
  }
  .vis-current-time {
    background: #E74C3C;    
  }
  .vis-custom-time {
    background: #3498DB;    
  }
  /*.vis-custom-time > .vis-custom-time-marker*/
   .vis-custom-time-marker {  
    right: 2px;
  }
  .vis-rolling-mode-btn:before {
    content: "\2B8C";
  }
  .vis-inner, .vis-label .vis-group-level-0  {
    width: 25px;
    transform: rotate(90deg);
    white-space: nowrap;
  }

.row
  .col-12.d-flex.justify-content-between.flex-wrap.pb-2
    .d-flex.justify-content-start
      .text-muted Alarmierung vom&nbsp;
      #einsatz_datum.text-muted.text-right &nbsp;-Datum-
    .d-flex.justify-content-end
      #dbrd_id.text-secondary 2341234345453

.row
  .col-lg-5.col-12
    #einsatz_art.row.no-gutters.bg-secondary.rounded.p-3
      .col-10
        .align-items-center.font-weight-bold
          #einsatz_stichwort.ion-md-apps  -Stichwort-
      .col-2
        .align-items-center.justify-content-center.rounded.text-center
          #sondersignal.ion-md-apps
    div.border-top.m-3
    .row
      .col-lg-12.col-md-6.col-12
        .card.mt-2
          .card-body.p-0
            #map.rounded(style={height: '30em'})
        div.border-top.m-3.d-md-none.d-lg-block
      .col-lg-12.col-md-6.col-12
        .card.mt-2
          .card-header.bg-dark.px-3
            .text-info.font-weight-bold Einsatzort
          .card-body.p-0
            ul#einsatzort_list.list-group.list-group-flush
              li.list-group-item -Objekt-
              li.list-group-item -Ort-
              li.list-group-item -Orststeil-
              li.list-group-item -Straße Hsnr-
              li.list-group-item.text-warning -Besonderheiten-
    div.border-top.m-3
    .row
      .col-12
        .card.mt-2
          table#table_einsatzmittel.table.table-hover  
            thead.table-borderless 
              tr
                th.col-4.text-info.pl-3 Wache
                th.col.text-info.pl-3 Einsatzmittel
            tbody
              tr
                th(scope='row') 1. Wache
                td
                  div.d-flex.flex-wrap.justify-content-between.align-items-center
                    div.flex-fill.rounded.bg-secondary.p-2.m-1
                      div.d-flex.justify-content-between
                        div.pr-2 Einsatzmittel 1
                        div.p-2.badge.badge-success 2
                    div.flex-fill.rounded.bg-secondary.p-2.m-1
                      div.d-flex.justify-content-between
                        div.pr-2 Einsatzmittel 2
                        div.p-2.badge.badge-warning 3
                    div.flex-fill.rounded.bg-secondary.p-2.m-1
                      div.d-flex.justify-content-between
                        div.pr-2 Einsatzmittel 3
                        div.p-2.badge.badge-danger 4
                    div.flex-fill.rounded.bg-secondary.p-2.m-1
                      div.d-flex.justify-content-between
                        div.pr-2 Einsatzmittel 4
                        div.p-2.badge.badge-info 1
              tr
                th(scope='row') 2. Wache
                td 
                  div.d-flex.flex-wrap.justify-content-between.align-items-center
                    div.flex-fill.rounded.bg-secondary.p-2.m-1
                      div.d-flex.justify-content-between
                        div.pr-2 Einsatzmittel 5
                        div.p-2.badge.badge-success 2
                    div.flex-fill.rounded.bg-secondary.p-2.m-1
                      div.d-flex.justify-content-between
                        div.pr-2 Einsatzmittel 6
                        div.p-2.badge.badge-warning 3 
    div.border-top.mx-3.mt-3.mb-2.d-block.d-lg-none
  .col-lg-7.col-12
    .row.no-gutters
      .col-12
        div#rmld_container
          .card#rmld_container
            .card-header.bg-dark.px-3
              .text-light.font-weight-bold Rückmeldungen
            .card-body.p-2
              .row.no-gutters.p-1
                .col-12.border.rounded.border-light.d-flex.align-items-center.justify-content-center.p-2
                  h4.font-weight-bold Gesamt &nbsp;
                    #gs-counter.badge.badge-primary.badge.font-weight-bold.p-1 0
              .row.no-gutters.p-1
                .col-3.border.rounded-left.border-light.text-success.d-flex.align-items-center.justify-content-center.p-2
                  h5 EK&nbsp;
                    #ek-counter.badge.badge-success.badge.p-1 0
                .col-3.border.border-light.text-info.d-flex.align-items-center.justify-content-center.p-2
                  h5 GF&nbsp;
                    #gf-counter.badge.badge-info.badge.p-1 0
                .col-3.border.border-light.text-light.d-flex.align-items-center.justify-content-center.p-2
                  h5 ZF&nbsp;
                    #zf-counter.badge.badge-light.badge.p-1 0
                .col-3.border.rounded-right.border-light.text-danger.d-flex.align-items-center.justify-content-center.p-2
                  h5 VF&nbsp;
                    #vf-counter.badge.badge-danger.badge.p-1 0
          div.border-top.m-3
          .card
            .card-header.bg-dark.px-3
              .text-light.font-weight-bold Verfügbare Funktionen
            .card-body.p-2
              .row.no-gutters.p-1
                .col-3.border.rounded-left.border-warning.d-flex.align-items-center.justify-content-center.p-2
                  h5.text-warning AGT&nbsp;
                    span#agt-counter.badge.badge-warning.badge.p-1 0
                .col-3.border.border-light.d-flex.align-items-center.justify-content-center.p-2
                  h5 MA&nbsp;
                    span#ma-counter.badge.badge-primary.badge.p-1 0
                .col-3.border.border-light.d-flex.align-items-center.justify-content-center.p-2
                  h5 FZF&nbsp;
                    span#fzf-counter.badge.badge-primary.badge.p-1 0
                .col-3.border.border-light.d-flex.align-items-center.justify-content-center.p-2
                  h5 MED&nbsp;
                    span#med-counter.badge.badge-primary.badge.p-1 0
          div.border-top.m-3
          .card
            .card-header.bg-dark.px-3
              .text-light.font-weight-bold Detailierte Rückmeldungen
            .card-body.p-0
              .row.px-3#pg-container.p-2
                //.col-4#pg-ek
                  .progress.mt-1
                    .progress-bar.progress-bar-striped.bg-success.ion-md-checkmark-circle(role='progressbar', style='width: 100%', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
                //.col-4#pg-gf
                  .progress.mt-1
                    .progress-bar.progress-bar-striped.bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100') 3min
                  .progress.mt-1
                    .progress-bar.progress-bar-striped.bg-info(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100') 1min     
                //.col-4#pg-zf
                  .progress.mt-1.border.border-warning
                    .progress-bar.progress-bar-striped.bg-light(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100') 10min    
                //.col-4#pg-vf
                  .progress.mt-1.border.border-warning
                    .progress-bar.progress-bar-striped.bg-danger(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100') 10min    
          div.border-top.m-3
          div.px-2
            input.btn.btn-info.btn-block(type="button", value="Zeitschiene auf alle Rückmeldungen anpassen", id="fit_timeline")  
          .card-body.p-2
            #visualization.border.rounded(style='background-color:white')
  // TODO: zeitstrahl der den Ablauf anzeigt
.d-none
  audio#audio(controls='')
      source(src='', type='audio/mpeg') 

