#waipclock.fullheight
  #screen_saver.h-95
    #clock_day.h-60.w-50
      #time.h-80.text-muted.font-weight-bold.d-flex.align-items-end.clock_frame -Uhrzeit-
      #day.h-20.text-secondary.d-flex.align-items-start.day_frame -Datum-
  .h-5.pt-2
    #wachenname_footer.text-secondary
      .h4.ion-md-business= ' ' + (data_wache || ' -Wachenname-')
      
