.row
  .col-12.d-flex.justify-content-between.flex-wrap.pb-2
    .d-flex.justify-content-start
      .text-secondary Alarmierungszeit: &nbsp;
      #einsatz_datum.text-muted &nbsp;-Datum-
    .d-flex.justify-content-end
      .text-secondary Einsatznummer: &nbsp;
      #dbrd_id.ion-md-clipboard.text-muted -Nummer-
.row
  .col-lg-4.col-12
    #einsatz_art.row.no-gutters.bg-secondary.rounded.p-3
      .col-10
        .align-items-center.font-weight-bold
          #einsatz_stichwort.font-weight-bold.ion-md-apps  -Stichwort-
      .col-2
        .align-items-center.justify-content-center.rounded.text-center
          #sondersignal.font-weight-bold.ion-md-apps
    div.border-top.m-3
    .row
      .col-lg-12.col-md-6.col-12
        .card.mt-2
          .card-body.p-0
            #map.rounded(style={height: '30em'})
        div.border-top.m-3.d-md-none.d-lg-block
      .col-lg-12.col-md-6.col-12
        .card.mt-2
          .card-header.bg-dark.px-3.py-2
            .text-info.font-weight-bold.mb-0 Einsatzort
          .card-body.p-0
            ul#einsatzort_list.list-group.list-group-flush
    div.border-top.m-3.d-lg-none.d-xl-none.d-md-block
  .col-lg-8.col-12
    .row.no-gutters
      .col-12
        .card
          table#table_einsatzmittel.table.table-hover.mb-0
            thead.table-borderless.small
              tr
                th.wache-col.text-info.pl-3 Wache
                th.text-info.pl-3 alarmierte Einsatzmittel / R端ckmeldungen
            tbody
              // Dynamische Zeilen werden per JS eingef端gt
        div.border-top.m-3
      .col-12
        div#rmld_container
          .card#rmld_container.mb-3
            .card-header.bg-dark.px-3.py-2
              span.text-light.font-weight-bold.small R端ckmeldungen (Gesamt)
            .card-body.py-2.px-3
              .row.no-gutters.align-items-center.small
                .col-12.d-flex.flex-wrap
                  span.mr-3.text-muted.d-flex.align-items-center
                    span.mr-1.font-weight-bold Gesamt
                    #gs-counter.badge.badge-primary.px-2.py-1 0
                  span.mr-3.text-success.d-flex.align-items-center
                    span.mr-1 EK
                    #ek-counter.badge.badge-success.px-2.py-1 0
                  span.mr-3.text-info.d-flex.align-items-center
                    span.mr-1 GF
                    #gf-counter.badge.badge-info.px-2.py-1 0
                  span.mr-3.text-light.d-flex.align-items-center
                    span.mr-1 ZF
                    #zf-counter.badge.badge-light.text-dark.px-2.py-1 0
                  span.mr-3.text-danger.d-flex.align-items-center
                    span.mr-1 VF
                    #vf-counter.badge.badge-danger.px-2.py-1 0
      .col-12
        .card.mb-3
          .card-header.bg-dark.px-3.py-2
            span.text-light.font-weight-bold.small Verf端gbare Funktionen (Gesamt)
          .card-body.py-2.px-3
            .row.no-gutters.small
              .col-12.d-flex.flex-wrap
                span.mr-3.text-warning.d-flex.align-items-center
                  span.mr-1 AGT
                  span#agt-counter.badge.badge-warning.px-2.py-1 0
                span.mr-3.text-primary.d-flex.align-items-center
                  span.mr-1 MA
                  span#ma-counter.badge.badge-primary.px-2.py-1 0
                span.mr-3.text-primary.d-flex.align-items-center
                  span.mr-1 FZF
                  span#fzf-counter.badge.badge-primary.px-2.py-1 0
                span.mr-3.text-primary.d-flex.align-items-center
                  span.mr-1 MED
                  span#med-counter.badge.badge-primary.px-2.py-1 0
.d-none
  audio#audio(controls='')
      source(src='', type='audio/mpeg')
// Vollbild-Kartenmodal
#mapModal.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-dialog-centered.modal-xl(role='document')
    .modal-content.bg-dark
      .modal-header.py-2.border-secondary
        h5.modal-title.text-light.mb-0 Einsatzkarte
        button.close.text-light(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.p-0
        #map_fullscreen(style='height:80vh;')

